# Virtual Environment
.venv/
venv/
ENV/
*/.venv/*
*.egg-info

# Python Cache & Eggs
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
fashion_detector.egg-info/
build/
dist/

# Dataset & Models & Cache
data/
cache/
annotations/
logs/
*.pt
*.pth
*.bin
*.onnx

# IDEs & System Files
.DS_Store
.vscode/
.idea/
.env
opencode.json

docs/superpowers